<div id="<%= dom_id director_movie %>">
  <p>
    <strong>Director:</strong>
    <%= director_movie.director_id %>
  </p>

  <p>
    <strong>Movie:</strong>
    <%= director_movie.movie_id %>
  </p>

</div>
