<h1>Editing director movie</h1>

<%= render "form", director_movie: @director_movie %>

<br>

<div>
  <%= link_to "Show this director movie", @director_movie %> |
  <%= link_to "Back to director movies", director_movies_path %>
</div>
