<h1>Editing actor movie</h1>

<%= render "form", actor_movie: @actor_movie %>

<br>

<div>
  <%= link_to "Show this actor movie", @actor_movie %> |
  <%= link_to "Back to actor movies", actor_movies_path %>
</div>
