<h1>Editing city movie</h1>

<%= render "form", city_movie: @city_movie %>

<br>

<div>
  <%= link_to "Show this city movie", @city_movie %> |
  <%= link_to "Back to city movies", city_movies_path %>
</div>
